body {
    margin : 0;
    padding : 0;
}
 #header{
     display : flex;
     justify-content : space-around;
     align-items : center;
     height : 50px;
     background-color : teal;
 }

#header > div {
      width : 100px;
      align-items : center;
    text-align : center;
}
 #header a {
     text-decoration : none;
     color : black;
     font-weight : bold;
     font-size : 20px;

 }

 #header > div:hover{
     border-bottom : 2px solid red;
 }

 #header a {
      cursor : pointer;
 }

 #header > div:last-child{
     width : 120px;
     display : flex;
     position : relative;
 }

 #header #countCart{
     position : absolute;
     right : 0;
     padding : 0px  10px;
     text-align : center;
     background: blue;
     color : white;
     font-size : bold;
     border-radius : 50%;
 }